/* universal style */
@media screen and (min-width: 600px) {
    body {
        background-color: hsl(189, 50%, 94%);
    }
}
  
@media screen and (max-width: 600px) {
    body {
        background-color: rgb(255, 211, 218);
    }
}

* {
    line-height: 1.6em;
    font-family: Helvetica;
    color: hsl(271, 50%, 32%);
    position: static;
    max-width: 100%;
    min-width: none;
}

/* heading style */
h2 {
    color:black;
    border-bottom: 2px dotted;
    border-color:black;
    
}

h2, .title {                                /* title class */
    width: 100%;
    height: 50px;
    top: 0;                           
    display: inline-block;   
    position: fixed;
    background-color: cornflowerblue;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
}

h4 {
    color: rgb(169,169,169);
}

h3 {
    color: #2F4F4F;
    text-decoration: underline;
}


/* paragraph style */
p {
    font-size: 16px;
}

/* list style */
ol {
    margin: auto;
    padding-left: 1 px;
    padding-right: 1 px;
}


ul li:hover {
    display: inline-flexbox;
    background-color: rgb(241, 191, 241);
    color: white;
}

/* detail style */
details{
    border-width: thick;
}

/* text area style */
textarea:active{
    color: red;
}

/* section style */
section {
	padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    border-style: solid;
    border-radius: 1em;
    border-width: 0.5em;
}

/* some id selector */
#date {
    margin-top: 4em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 10px;

}

/* some layouts */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

#flex-item {
    width=50%;
}

.grid-container{
    display: grid;
}

#grid-item1{
    grid-column-start: 1;
    grid-column-end: 2.5;
    grid-row-start: 1;
}

#grid-item2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
}

/* Adjacent sibling combinatgor */
div + ol {
    color: rgb(9, 9, 243);
}

/* General sibling combinator */
section ~ div {
    color: rgb(255, 4, 87);
}

/* attribute selector */
a[href^="#"] {
    color: rgb(233, 163, 34);
}